<html>
  <body>
    <h2>Ticket #{{ticket.id}} - {{ticket.subject}}</h2>
    <p><strong>Event:</strong> Ticket Created</p>
    <div>
      <strong>Created By:</strong> {{ticket.createdByDisplayName}} ({{ticket.createdByEmail}}) at {{ticket.createdAt}}
    </div>
    <div>
      <strong>Priority:</strong> {{ticket.priorityName}}<br/>
      <strong>Category:</strong> {{ticket.categoryName}}<br/>
      <strong>Status:</strong> {{ticket.statusName}}
    </div>
    <div>
      <strong>Content:</strong>
      <div>{{notification.content}}</div>
    </div>
    <hr/>
    <div>
      <strong>Notification Rule:</strong> {{rule.description}}
    </div>
  </body>
</html> 